@import 'normalize';
@import 'fonts';
@import 'breakpoints';
@import 'sphere.care_css_login-popup';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  border-bottom: 1px none #4f4e4e;
  background-image: url('~/src/assets/media/images/bg-lines-003-light.png'), url('~/src/assets/media/images/777-55-4-monochrome-min.png');
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
  background-repeat: repeat, repeat;
  color: #0e0e0e;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ddd;
  overflow: hidden;

  max-height: 100vh;
  //fix mobile 100vh bug with content overflowing
  max-height: -webkit-fill-available;


  &.en .ru {
    display: none;
  }

  &.ru .en {
    display: none;
  }
}

button {
  // reset some styles
  background-color: transparent;
  border-width: 0;
  padding: 0;

  cursor: pointer;
}

svg {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

.page {
  font-family: 'GT Pressura LCGV', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.main-content {
  max-width: 1000px;
  padding: 60px 10px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  @include medium() {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.logo-wrapper {
  width: 161px;
  height: 51px;
  color: #0F0F0E;

  opacity: .75;
  //color: hsl(208 44% 33% / 1);
}

.section {
  width: 100%;
  max-width: 630px;
  padding: 10px 5px 29px;
  align-self: center;
  border-radius: 20px;
  background-color: #eaeaea;
  box-shadow: inset 2px 2px 4px 0 hsla(0, 0%, 100%, 0.4), 3px 3px 4px 0 rgba(0, 0, 0, 0.1);

  @include medium() {
    padding: 17px 15px;
  }
}

.player {
  margin-top: 30px;

  @include medium() {
    margin-top: 22px;
  }
}

.player__header {
  border-radius: 16px;
  background-color: #404a53;
  box-shadow: inset -4px -4px 10px 0 #575c72, inset 6px 6px 10px 1px #333647;
  padding: 16px 14px;
  margin-bottom: 18px;

  @include medium() {
    padding: 13px 24px;
    margin-bottom: 16px;
  }

  .place {
    padding-bottom: 7px;
    color: #F3F3F3;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;

    @include medium() {
      font-size: 17px;
    }
  }

  .current-playlist {
    color: #EAEAEA;
    font-size: 26px;
    font-weight: 500;

    @include medium() {
      font-size: 27px;
    }
  }
}

.player__actions {
  padding: 0 5px;
}

.first-line-actions {
  display: flex;
  width: 100%;
  margin-bottom: 22px;
  opacity: .15;

  body.first-track-loaded & {
    opacity: 1;
  }

  @include medium() {
    margin-bottom: 13px;
  }

  .flex-spacer {
    flex-grow: 1;
  }

  .like-dislike-form {
    display: flex;
    align-items: center;
  }

  button {
    &[disabled] {
      //opacity: .15;
      opacity: .45;
    }

    &:first-of-type {
      padding-right: 4px;
    }

    &:last-of-type {
      padding-left: 4px;
    }
  }
}

@mixin active($active-color) {
  &.active {
    svg {
      fill: $active-color;
    }

    .circle-border {
      stroke: $active-color;
    }
  }
}

.like-button {
  @include active(#FFD3D3);
}

.dislike-button {
  @include active(#D4DFFD);
}

.play-button {
  --animation-duration: none; // set via js

  position: relative;

  //&[disabled] {
  //  //opacity: .15;
  //  opacity: .45;
  //}

  &.playing .pause-icon {
    visibility: visible;
    //transition-delay: unset;
  }

  .pause-icon {
    position: absolute;
    top: 0;
    visibility: hidden;
    transition-delay: var(--animation-duration); // 800ms
    transition-property: visibility;
  }

  svg {
    fill: #eaeaea;
  }
}

.playlists {
  display: flex;
  flex-direction: column;
  gap: 9px;

  &__list-title {
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    margin: 0 0 18px;
    color: #000;
    padding-left: 3px;
  }

  .playlist {
    border-radius: 30px;
    border: 2px solid #DDD;
    background: #EDEDED;
    font-size: 22px;
    font-weight: 500;
    padding: 18px 18px 18px;
    color: #000;
    display: flex;
    flex-direction: column;
    text-align: left;
    user-select: text;
    cursor: pointer;

    &--selected {
      background: #E0E0E0;
    }

    &--placeholder {
      padding: 20px 22px 30px;
    }

    &__name {
      display: flex;
      font-size: 20px;
      margin-bottom: 8px;
      width: 100%;
    }

    &__description {
      font-size: 18px;
      line-height: 1.25;
      font-weight: 300;
    }
  }
}

.note-sign {
  padding-right: 8px;
}

.description {
  margin-top: 25px;
  color: #000;
  font-size: 20px;
  font-weight: 300;
  padding: 33px 24px 37px;

  &__list-title {
    font-size: 20px;
    color: #000;
    font-weight: 500;
    margin: 0 0 12px;
  }

  ul {
    padding-left: 32px;
    margin-bottom: 19px;
    font-weight: 300;

    &:last-of-type {
      margin-bottom: 0;
    }

    li {
      margin-bottom: 5px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
