.w-form {
  margin: 0 0 15px;
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898EC;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

//input.w-button {
//  -webkit-appearance: button;
//}


*, *::before, *::after {
  box-sizing: border-box;
}


body {
  border-bottom: 1px none #4f4e4e;
  background-image: url('~/src/assets/media/images/bg-lines-003-light.png'), url('~/src/assets/media/images/777-55-4-monochrome-min.png');
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
  background-repeat: repeat, repeat;
  font-family: Favoritpro, sans-serif;
  color: #0e0e0e;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ddd;
  overflow: hidden;
}

.page {
  max-width: 1000px;
  padding: 50px 10px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.logo {
  width: 108px;
  opacity: 0.86;
}

.section {
  width: 100%;
  max-width: 630px;
  padding: 20px 11px;
  align-self: center;
  border-radius: 20px;
  background-color: #eaeaea;
  box-shadow: inset 2px 2px 4px 0 hsla(0, 0%, 100%, 0.4), 3px 3px 4px 0 rgba(0, 0, 0, 0.1);

  &:first-of-type {
    margin-top: 30px;
  }

  &:nth-of-type(2) {
    margin-top: 25px;
    color: #747474;
    font-size: 19px;
    line-height: 21px;
    font-weight: 300;
  }
}

.player__header {
  margin-bottom: 20px;
  padding: 13px 14px;
  border-radius: 16px;
  background-color: #404a53;
  box-shadow: inset -4px -4px 10px 0 #575c72, inset 6px 6px 10px 1px #333647;
  line-height: 20px;

  .place {
    padding-bottom: 7px;
    color: #929292;
    font-size: 17px;
    line-height: 20px;
    font-weight: 300;
  }

  .current-playlist {
    color: #bdbdbd;
    font-size: 27px;
    font-weight: 300;
  }
}

.player__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .play-button {
    display: flex;
    width: 68px;
    height: 68px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: inset 2px 2px 8px 0 #fff, inset -3px -3px 4px 0 #cecece, 3px 3px 10px 0 hsla(0, 0%, 79.6%, 0.65), -4px -4px 5px 1px #fdfdfd, 2px -2px 8px 0 hsla(0, 0%, 84.3%, 0.3), -2px 2px 9px 0 hsla(0, 0%, 91.8%, 0.3);
    transition: box-shadow 400ms cubic-bezier(.25, .46, .45, .94);
    cursor: pointer;

    &:active {
      box-shadow: inset 3px 3px 8px 0 hsla(0, 0%, 69.8%, 0.66), inset -2px -2px 6px 0 #fefefe, 3px 3px 10px 0 hsla(0, 0%, 79.6%, 0.65), -3px -3px 7px 0 hsla(0, 0%, 99.2%, 0.97), 2px -2px 8px 0 hsla(0, 0%, 84.3%, 0.3), -2px 2px 9px 0 hsla(0, 0%, 91.8%, 0.3);
    }

    .play-icon {
      display: block;
      margin-left: 4px;
    }

    .pause-icon {
      display: none;
      margin-left: -2px;
    }
  }
}


.like-dislike-div {
  display: flex;

  .like-dislike-form-block {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 0px;
    align-self: center;
  }

  .div-forl-like-dislike {
    position: relative;

    .dislike-pushed-img {
      position: absolute;
      left: 7%;
      top: 6%;
      right: 0%;
      bottom: 0%;
      display: none;
      width: 41px;
    }

    .like-pushed-img {
      position: absolute;
      display: none;
    }
  }

  .like-dislike-submit {
    width: 44px;
    height: 38px;
    background-color: transparent;
    background-image: url('~/src/assets/media/icons/like.svg');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;

    &:hover {
      filter: contrast(200%);
    }
  }
}

.like-dislike-submit.dislike {
  width: 48px;
  height: 38px;
  background-image: url('~/src/assets/media/icons/dislike.svg');
  background-position: 50% 50%;
}

.like-dislike-submit.dislike:hover {
  filter: contrast(200%);
}

.like-dislike-submit.like {
  width: 43px;
}

.section.description {
  .heading-micro {
    margin-bottom: 11px;
    color: #7a7a7a;
    font-size: 19px;
    font-weight: 400;
  }

  .list {
    margin-bottom: 15px;
    padding-left: 23px;
    list-style-type: disc;

    &-item {
      margin-bottom: 7px;
    }
  }
}

@media screen and (min-width: 479px) {
  .page {
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo {
    width: 156px;
  }

  .section {
    padding: 17px;

    &:first-of-type {
      margin-top: 40px;
    }
  }

  .player__header {
    padding: 18px 21px;
  }

  .play-button {
    margin-left: 18px;
  }

  .list {
    padding-left: 30px;
  }
}
